form{
    width: 70vw;
    height: 68vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.submit{
    background-color: rgb(160, 7, 7);
    color: 'white';
    padding: '13px';
    border:'1px solid rgb(160, 7, 7) ';
    transition: '.5s';
    padding: 15px 25px;
    text-transform: uppercase;
    color: aliceblue;
    border: none;
    cursor: pointer;
}
.description{
    height: 150px !important;
}