*{
    margin: 0;
    padding: 0;
}
.container{
    height: 70vh;
}
.container-logo{
    display: flex;
    justify-content: center;
    margin: 55px;
}
.form{
    width: 50%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contraseña{
    font-size: 2rem;
    text-transform: capitalize;
    margin: 1rem;
    text-align: center;
}
.text{
    color: #464646;
    text-align: center;
}
.input{
    height: 10%;
    width: 70%;
    margin: 1rem;
    border-radius: 15px;
    padding: 0 20px;
    border: none;
    -webkit-box-shadow: 0px 0px 21px -8px #000000; 
    box-shadow: 0px 0px 21px -8px #000000;
}
.enviar{
    padding: 10px 25px;
    text-transform: uppercase;
    border: none;
    background-color: #C62828;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 21px -8px #C62828; 
    box-shadow: 0px 0px 21px -8px #C62828;
}

@media (max-width:800px){
    .input{
        width: 100%;
    }
    .form{
        width: 70%;
    }
    .contraseña{
        font-size: 1.5rem;
    }
}