.aceptar:hover{
    color: rgb(160, 7, 7) ;
    transition: .5s;
}
.Encabezado{
    font-size: 1rem !important;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif !important;
}
.error{
    font-size: .5rem;
    color: rgb(160, 7, 7);
}