
.icon{
    font-size: 3rem;
    color: #fff;
}
.links{
    text-decoration: none;
    color: #fff;
    margin: 15px;
    background-color: rgb(160, 7, 7);
    border-radius: 15px;
}
.icons{
    color: rgb(160, 7, 7);
}